<header class="container">
    <h1 class="roboto-bold"><i class="fa fa-gear"></i>{{ title }}</h1>
    <nav>
      <div class="search-bar">
        <input class="text-box roboto-regular" type="text" placeholder="Search user...">
        <app-button text="Search" id="search-button" (click)="searchUser()"></app-button>
      </div>
      <app-button text="New user" iconClass="fa fa-plus" id="add-user-button" (click)="setupModal(false, addUser)"></app-button>
    </nav>
</header>

<main class="main-container">
  <div class="list-header roboto-bold">
    <span>ID</span>
    <span>Username</span>
    <span>Name</span>
    <span>Email</span>
  </div>

  <div class="list-items roboto-regular">
    <div *ngFor="let user of usersDisplayed; let i = index" class="list-item">
      <span class="roboto-bold">{{ user.id }}</span>
      <span>{{ user.username }}</span>
      <span>{{ user.name }}</span>
      <span>{{ user.email }}</span>
      <span>
        <button class="button-more roboto-bold" (click)="toggleDetails(i)">More</button>
      </span>
      <span class="column-manage">
        <button class="button-edit" (click)="setupModal(true, editUser, user)">
          <i class="fa fa-edit"></i>
        </button>
        <button class="button-trash" (click)="confirmDelete(user)">
          <i class="fa fa-trash"></i>
        </button>
      </span>

      <div class="user-details" [ngClass]="{'expanded': isDetailed(i)}">
        <div class="detail">
          <p class="roboto-bold">Phone</p>
          <span>{{ user.phone }}</span>
        </div>
        <div class="detail">
          <p class="roboto-bold">Website</p>
          <span>{{ user.website }}</span>
        </div>
        <div class="detail">
          <p class="roboto-bold">City</p>
          <span>{{ user.address.city }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination">
    <button *ngFor="let page of [].constructor(totalPages); let i = index" (click)="changePage(i+1)" class="roboto-bold" [class.active]="i+1 === currentPage">{{ i + 1 }}</button>
  </div>

  <app-user-modal *ngIf="action" [action]="action" [buttonText]="buttonText" [user]="modalUser || undefined" [isEdit]="isEdit" [iconClass]="iconClass"></app-user-modal>
</main>


